.container-header{
    background-color: rgb(236,65,65);
    font-size: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 10vh;
    border-radius: 15px;
}

.container-header__menu a{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-decoration: none;
    height: 19px;
    width: 122px;
    background-color: rgb(228, 119, 119) ;
    display: inline-block;
    border-radius: 15px;
}


.container-header__menu {
    font-size: 15px;
    border: 3px;
    margin-top: -4px;
}

body{
    background-color: rgb(158,219,249);
}