h1 {
        color: black;
        font-size: 22px; 
        border-radius: 0px;
        background-color: rgb(170,218,240); 
        display: inline; 
        font-family: Arial, Helvetica, sans-serif;

    }

    body{

        background-color: rgb(228,231,236);
    }
    
    .box01{
        border-radius: 25px;
        background-color: rgb(95,187,231);
        text-align: center;
        width: 500px;
        height: 120px;
        margin-top: 9px;
        
        

    }

    .box02{
        border-radius: 25px;
        background-color: rgb(97,55,122);
        text-align: center; 
        width: 500px;
        height: 120px; 
        margin-top: 9px;
        
        
        
        

    }

   

    p{
        color: black;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .caixa03{
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .caixa04{
        color: rgb(0, 0, 0);
        font-size: 22px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    h2{
        color: black;
        font-size: 22px; 
        border-radius: 0px;
        background-color: rgb(95,187,231); 
        display: inline; 
        font-family: Arial, Helvetica, sans-serif;
    }

.container-header{
    background-color: rgb(170,218,240);
    font-size: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 10vh;
    border-radius: 15px;
}

.container-header__menu a{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-decoration: none;
    height: 19px;
    width: 122px;
    background-color: rgb(95,187,231) ;
    display: inline-block;
    border-radius: 15px;
}


.container-header__menu {
    font-size: 15px;
    border: 3px;
    margin-top: -4px;
    
    
    
}