.container-header{
    background-color: rgb(255, 98, 84);
    font-size: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 10vh;
    border-radius: 15px;
}

.container-header__menu a{
    color: rgb(0, 0, 0);
}


.container-header__menu a{
    font-size: 15px;
    border: 3px;
    margin: 10px;
    margin-top: 10px;
}

body{
    background-color: rgb(255, 195, 96);
}
